extends layout

block content
  include header
  div.container.about-container
    div.text-center
      h2.about What is Fitness Tracker?
      div.row.about-sections
        div.col-md-4
          img.icon(src='/images/calculator.png')
          h3 Calorie Goals
          p
            |Fitness Tracker calculates a daily calorie goal based on your stats and whether you want to lose, maintain or gain weight
        div.col-md-4
          img.icon(src='/images/diary.png')
          h3 Daily Logs
          p
            |Keep daily logs of your food intake and activity to help you reach your calorie goal each day
        div.col-md-4
          img.icon(src='/images/fork-knife.png')
          h3 Food Database
          p
            |Search through 500K+ common foods and menu items with verified nutritional data on calories, fat, and serving size.