extends layout

block content
  div.center
    div.vertical-center
      h1.home Fitness Tracker
      a.link(href='/about') 
        div.home.button
          |About
      a.link(href='/signin')
        div.home.button
          |Sign In
