extends layout

block content
  include header
  div.flex-container
    div.well.col-md-4
      p
        h3.signin-text.text-center Sign in to your account

        a.btn.btn-block.btn-social.btn-google.btn-lg(href="/auth/google")
          i.fa.fa-google-plus 
          |  Sign in with Google
        a.btn.btn-block.btn-social.btn-facebook.btn-lg(href="/auth/facebook")
          i.fa.fa-facebook 
          |  Sign in with Facebook
        a.btn.btn-block.btn-social.btn-instagram.btn-lg(href="/auth/facebook")
          i.fa.fa-instagram 
          |  Sign in with Instagram