html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/veggie-background.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-height: 100%;
}

.about {
  color: #93C54B;
  margin-bottom: 40px;
}

.about-container {
  min-height: 89vh;
}

.about-sections > div {
  margin-bottom: 25px;
}

.button {
  display: inline;
  padding: 10px 20px 10px 20px;
  border: 3px solid white;
  margin: 20px;
  color: white;
  font-size: 20px;
}

.button:hover {
  background-color: white;
  color: #6D7F8D;
  text-decoration: none;
}

.cancel {
  padding-left: 10px;
}

.container {
  background-color: white;
  padding: 40px;
  min-height: 84vh;
  margin-top: -20px;
}

.date {
  font-size: 1.5em;
}

.day-column {
  margin-top: 30px;
}

.days {
  padding-bottom: 40px;
}

.delete {
  float: right;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home {
  color: white;
  margin-bottom: 40px;
  font-size: 50px;
}

.icon {
  height: 70px;
}

.inline {
  display: inline-block;
}

.link:hover {
  text-decoration: none;
}

.logo-head {
  color: white;
  margin-left: 2em;
}

.logo-image {
  height: 2.5em;
}

.navbar {
  border-radius: 0;
  padding-bottom: 1em;
}

.navbar-right {
  padding-top: 1em;
  padding-right: 2em;
}

.profile {
  height: 40px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #325D88;
}


/*Mobile view*/

@media only screen and (max-device-width: 800px) {
  #hide {
    display: none;
  }
}

@media only screen and (max-device-width: 400px) {
  .container {
    font-size: 80%;
  }
  .small {
    padding: 30%;
  }

}