body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/veggie-background.jpg');
  background-size: cover;
}

.nav {
  color: white;
}

.link:hover {
  text-decoration: none;
}

.home {
  color: white;
  margin-bottom: 40px;
  font-size: 50px;
}

.button:hover {
  background-color: white;
  color: #6D7F8D;
  text-decoration: none;
}

.button {
  display: inline;
  padding: 10px 20px 10px 20px;
  border: 3px solid white;
  margin: 20px;
  color: white;
  font-size: 20px;
}

.center {
  text-align: center;
}

.vertical-center {
  padding-top: 250px;
}

.signin {
  margin-top: 80px;
}

.logo-head {
  color: white;
}

.logo-image {
  width: 80px;
}

.date {
  font-size: 20px;
}

.delete {
  float: right;
}

.inline {
  display: inline-block;
}

.day-column {
  margin-top: 30px;
}

.about {
  text-align: center;
}

.about h2 {
  color: #93C54B;
  margin-bottom: 40px;
}

.icon {
  height: 70px;
}

.navbar {
  padding-bottom: 15px;
  border-radius: 0;
}

.navbar-right {
  padding-top: 35px;
  padding-right: 35px;
}

.days {
  padding-bottom: 40px;
}

.container {
  background-color: white;
  padding: 30px;
  min-height: 85vh;
  margin-top: -20px;
}

.cancel {
  padding-left: 10px;
}

.profile {
  height: 40px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #325D88;
}