extends ../layout

block content 
  include ../header
  div.container
    div.row
      div.col-md-4
        h2 Daily Calorie Goal: #{calories}
        a(href='/fitness/' + user._id + '/edit') edit info
    div.row
      div.col-md-6
        h1 Days
        if days
          ul.list-group
            for day in days
              li.list-group-item.days
                a.date(href='/fitness/' + user._id + '/days/' + day._id)= day.date 
                form.delete(action='/fitness/' + user._id + '/days/' + day._id + '/delete' method='POST')
                  input.btn.btn-danger(type="submit", value="Delete")
      div.col-md-2
      div.col-md-4
        h1 Add Day
        include ../errors
        form(action='/fitness/' + user._id + '/new-day' method='POST')
          div.form-group
            input.form-control(type='date' name='date' id='date')
          div.form-group
            input.btn.btn-primary(type='submit', value='Add')

        

